// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright(C) 2026 UltraRISC Technology (Shanghai) Co., Ltd.
 */

#include "dp1000-shenrongda-m0-pinctrl.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Shenzhen Rongda M0 Board";
	compatible = "shenrongda,m0", "ultrarisc,dp1000";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	rtc@32 {
		compatible = "whwave,sd3078";
		reg = <0x32>;
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
};

&spi1 {
	num-cs = <1>;

	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};

&pcie_x16 {
	status = "okay";
};

&pcie_x4a {
	status = "okay";
};

&pcie_x4b {
	status = "okay";
};

&ethernet {
	phy-handle = <&phy0>;
	/*
	 * The PCB does not add RGMII TX or RX clock delays. The DP1000
	 * integration adds fixed delays in both directions.
	 */
	phy-mode = "rgmii-id";

	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: phy@0 {
			reg = <0>;
		};
	};
};
