// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright(C) 2026 UltraRISC Technology (Shanghai) Co., Ltd.
 */

#include "dp1000-milkv-titan-pinctrl.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Milk-V Titan";
	compatible = "milkv,titan", "ultrarisc,dp1000";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins>;

		key-wakeup-0 {
			label = "Wake-Up";
			gpios = <&gpio_a 14 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WAKEUP>;
			linux,input-type = <EV_KEY>;
			debounce-interval = <10>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_ASSERTED>;
		};

		key-wakeup-1 {
			label = "Power";
			gpios = <&gpio_a 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			linux,input-type = <EV_KEY>;
			debounce-interval = <10>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_ASSERTED>;
		};

		key-wakeup-2 {
			label = "Wake-Up-by-USB";
			interrupts-extended = <&gpio_a 4 IRQ_TYPE_EDGE_FALLING>;
			linux,code = <KEY_WAKEUP>;
			linux,input-type = <EV_KEY>;
			debounce-interval = <10>;
			wakeup-source;
		};
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	rtc@68 {
		compatible = "st,m41t11";
		reg = <0x68>;
	};
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
};

&spi1 {
	num-cs = <1>;

	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};

&pcie_x16 {
	status = "okay";
};

&pcie_x4a {
	status = "okay";
};

&pcie_x4b {
	status = "okay";
};

&gpio {
	pinctrl-names = "default";
	pinctrl-0 = <&io_pins &mux_dcdc_i2c_pins &mux_i2c3_pins &mux_uart0_pins>;
};

&gpio_a {
	dcdc-i2c-mux-hog {
		gpio-hog;
		gpios = <5 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "dcdc-i2c-mux";
	};

	i2c3-mux-hog {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "i2c3-mux";
	};

	uart0-mux-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "uart0-mux";
	};
};

&ethernet {
	phy-handle = <&phy0>;
	/*
	 * The PCB does not add RGMII TX or RX clock delays. The DP1000
	 * integration adds fixed delays in both directions.
	 */
	phy-mode = "rgmii-id";

	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: phy@0 {
			reg = <0>;

			leds {
				#address-cells = <1>;
				#size-cells = <0>;

				led@1 {
					label = "eth-link";
					reg = <1>;
					color = <LED_COLOR_ID_YELLOW>;
					function = LED_FUNCTION_INDICATOR;
					default-state = "keep";
					linux,default-trigger = "netdev";
				};

				led@2 {
					label = "eth-activity";
					reg = <2>;
					color = <LED_COLOR_ID_GREEN>;
					function = LED_FUNCTION_ACTIVITY;
					default-state = "keep";
					linux,default-trigger = "netdev";
				};
			};
		};
	};
};
